.navbar-le {
    justify-content: space-between;
    box-shadow: -8px -1px 2px 1px #737679;
  
  }
 
  .navbar-le .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-le .navbar-brand img {
    width: 40px;
  }
